# Xcode
build/*
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
*.perspective

# OS X
.DS_Store
profile

# Other
*.tmproj

# Dependencies folder
*~
*.o
*.a
*.lo
*.la
.deps/
.libs/
Makefile
stamp-h1
stamp-h2
config.h
config.log
config.status
libtool
taglib-config
taglib.pc
taglib_c.pc
taglib_config.h
autom4te.cache